name: Deploy Hyperledger & Java API

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            # 1. Ir a la carpeta raíz del proyecto en el servidor
            cd ./fabric-samples/asset-transfer-basic/maven-API-SiMeDi
            
            # 2. Descargar el código nuevo
            echo "Descargando cambios desde git..."
            git pull origin main
            
            # 3. Dar permisos de ejecución
            chmod +x deploy.sh
            
            # 4. Ejecutar el script con VERSIONADO AUTOMÁTICO
            # Usamos el número de ejecución de GitHub para generar una secuencia única
            # Esto evita el error "ENDORSEMENT_POLICY_FAILURE"
            
            echo "Ejecutando deploy secuencia: ${{ github.run_number }}"
            ./deploy.sh "1.0.${{ github.run_number }}" "${{ github.run_number }}"